{
        margin: 0;
        padding: 0;
    }

    body {
        min-height: 100vh;
        background-image: url("https://static.vecteezy.com/system/resources/previews/030/669/862/non_2x/maroon-texture-high-quality-free-photo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: 'Courier New', Courier, monospace;
    }

    nav {}