{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dropdown {
    position: absolute;
    top: 10px;
    left: 10px;
    display; inline-block;
}

.dropdown-icon {
    width: 40px;
    height: 40px;
    background: url("") no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}