body {
  overflow-x: hidden;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
}
section {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.main-section {
  border-style: double;
  border-radius: 4px;
  border-color: black;
  border-width: 0.5px;
  background-color: black;
  color: white;
}
.section-intro-statment {
  margin: 25vh;
}

section img {
  max-width: 100%;
  height: auto;
  display: block;
}
